@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:ital@1&display=swap);
* {
  box-sizing: border-box;
}
.head-text {
  font-family: Nunito, sans-serif;
}
.child-text {
  font-family: Roboto, sans-serif;
}
.row-container {
  margin: 50px;
}
.main-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(asset/img2.jpeg);
  background-position: center;
  background-attachment: fixed;
}
.text-fight-fighter {
  font-size: 7vw;
  margin: 150px 0 0 50px;
  color: #ebe6e6;
  letter-spacing: 4px;
}
.nav-link:hover {
  background-color: #dfd7d7;
  border-radius: 3px;
}
.nav-link {
  font-size: 20px;
}
.bg-portofolio {
  margin-top: 10px;
  width: 100%;
  height: 130vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(asset/bgg.jpg);
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
}
.inner-width {
  width: 100%;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
  max-width: 1000px;
}
.section-title {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
}
.border-what-we-do {
  width: 160px;
  height: 2px;
  background: #000;
  margin: 40px auto;
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.service-box {
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.service-icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  color: #fff;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon {
  background: #fff;
  color: #ddd;
}
.service-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc {
  font-size: 14px;
}
@media screen and (max-width: 960px) {
  .service-box {
    max-width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .service-box {
    max-width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .service-box {
    max-width: 100%;
  }
}
.about-section {
  background: url(asset/bgg.jpg);
  opacity: 0.8;
  margin-left: 20%;
  width: 60%;
  padding: 10px 0;
  margin-top: 8px;
  border-radius: 8px;
  background-attachment: fixed;
}
.about-section h1 {
  text-align: center;
  font-size: 40px;
}
.border-why-us {
  width: 130px;
  height: 3px;
  background: #000;
  margin: 10px auto;
}
.about-section-row {
  display: flex;
  flex-wrap: wrap;
}
.about-section-col {
  flex: 50%;
}
.about {
  padding-right: 30px;
}
@media screen and (max-width: 700px) {
  .about-section-col {
    flex: 100%;
    margin: 10px 0;
  }
  .about,
  .skills {
    padding: 0;
  }
  .about {
    text-align: center;
  }
}
